---
layout: 'slide'
title: 'Fusion Tables'
---

.slide
	h1 Mapping with Google Fusion Tables
	
	h2 Calvin W. Metcalf
	h3 massDOT Office of Transportation Planning

.slide
	h2 AKA how to make a good looking powerful webmap with:
	
	li.slide no budget
	li.slide no resources beyond your girlfirends spare laptop
	li.slide no programing experience
	li.slide a static web server
	li.slide litterally no knowledge about how javascript works
	

.slide
	h2 but why?
	
	li.slide our current web maps did not look good
	li.slide they weren't easy to update
	li.slide they used flash
	
.slide
	h2 why fusion tables
	
	li.slide it's free
	li.slide it's faster then that any server we could have set up our selves easily
	li.slide people already know how to use a google map
	li.slide their search is great
	li.slide their documentation is fantastic
	li.slide they can handle a LOT of points
	
.slide
	h2 the map
	
	li.slide our example today will be the first map I made on active construction projects
	img(src='1.png').slide

.slide
	h2 search
	img(src='search.png')
	
.slide
	h2 zoom
	img(src='zoom.png')
	
.slide
	h2 query
	img(src='query.png')
	
.slide
	h2 download the data
	img(src='download.png')

.slide
	h2 how
	ol
		li.slide get the data cleaned and into fusion tables
		li.slide write the html
		li.slide write the javascript

.slide
	h2 about our data
	
	li.slide data came from 2 differen sources with different schema
	li.slide data was in esri format and is points and lines
	li.slide fusion tables is a table based schema where all rows must have the same fields
	li.slide geometry is in a kml format
	li.slide esri considers points and line features to be totally seperate never mixable
	li.slide kml pretty much considers lines to be long points
	
.slide
	h2 importing into fusion tables
	
	li.slide if all you have is points, it is pretty easy to get your data in
	li.slide just make sure your data is in wgs84 and save it as a csv with a lat and a lng collumn
	li.slide if it isn't, then it's trickier

.slide
	h2 method 1. from esri
	
	li.slide you can import into fusion tables kml files upto 100 MiB
	li.slide but it takes the atributes from the kml extended data
	li.slide esri refuses to aknowledge that kml files have an extrended data atribute
	li.slide make sure your data has a primary key of some sort
	li.slide make sure that is the display field
	li.slide then export it as a kml, and also export the atribute table as a csv
	li.slide upload them both the fusion tables as seperate tables
	li.slide do a merge (aka a join)

.slide
	h2 method 2. qgis

	li.slide or you can save it as a shape file
	li.slide open it with quantum gis
	li.slide save it as a kml
	li.slide you can just import that into fusion tables
	li.slide this is where my g/fs old laptop came in, i had whiped it and installed ubuntu and quantum gis on it.
	

	
