---
layout: 'slide'
title: 'presentation'
---

.slide
	h1 Power Point Presentation PDFs
	
	h3 An Alliterative Problem

.slide
	h2 Causes
	
	li.slide We need to make presentations
	li.slide Power Point is pretty much the only program we have
    li.slide People always want to see our awsome slides, so we try to post them online
	
.slide
	h2 Can't we just post .ppt files?

    li I'm glad you asked
    li.slide no
    li.slide you need to have installed/bought powerpoint
    li.slide unless you made it on power point 2007, then your out of luck if you have an old copy of powerpoint
    li.slide plus you can't just view it in your web browers, you have to download it
    li.slide also someone could download it and alter it, with out needing any knowledge of anything
    li.slide sometimes these are huge files

.slide
    h2 Whats wrong with PDFs?

    ol
        li.slide you didn't make your presentation with it, so it has to be converted, this isn't always perfect
        li.slide it isn't always 508 complient
        li.slide it's still a huge file
        li.slide not everybody has the acrobat reader plugin installed preventing them from reading it online
        li.slide some people don't even have a reader installed